<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
</head>
<body>
        <table border="1">
            <caption> Users </caption>
            <tr>
                <th>User name</th>
                <th>User email</th>
            </tr>
            <tr>
                <td>{{user['user_name']}}</td>
                <td>{{user['user_email']}}</td>
            </tr>
        </table>
         <table border="1">
            <caption> Product </caption>
            <tr>
                <th>Product name</th>
            </tr>
            <tr>
                <td>{{product['product_name']}}</td>
            </tr>
        </table>
</body>
</html>